<div class="container">
    <section class="home">
        <h1>Un mundo lleno de sabores</h1>
        <h2>¿Quienes Somos?</h2>
        <div class="descripcion_1">
            <p>
                Nuestro equipo está conformado por 10 personas que trabajan para brindar un mejor servicio.
                Entre todos, trabajamos por realizar los sueños y metas de la empresa y los nuestros.
                Nuestros catalogos ofrecen permanentes innovaciones a nuestros clientes.
            </p>
            <div class="imagenes">
                <img src="assets/img/home_img.jpg" alt="img-empresa">
            </div>
        </div>

        <div class="descripcion_2">
            <h2>Ubicacion</h2>
            <p>Ubicada en el barrio Chambu ll, Twist trae para el mercado lo mejor para tu paladar.</p>
            <div class="mapa">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.9588028302824!2d-77.2756371306595!3d1.1893131807038206!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e2ed4b1cc166d1b%3A0x54faf0cf77e8727a!2zQ3JhLiAxwqogQiBFc3RlLCBQYXN0bywgTmFyacOxbw!5e0!3m2!1ses-419!2sco!4v1676934376306!5m2!1ses-419!2sco"
                    width="940px" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </section>

</div>


