<main class="mian-perfil">
    <form class="form-update" action="/twist/logup" method="POST">
        <h1>Actualiza tus datos</h1>
        <!--<h2 class="perfil">¿Deseas actualizar tus datos?</h2>-->
        <div>
            <input type="text" class="input_form" name="nombres" placeholder="Juan">

            <input type="text" class="input_form" name="apellidos" placeholder="Perez">

            <input type="date" class="input_form" name="fechaNac" id="fecha-nac" placeholder="">

            <input type="tel" class="input_form" name="telefono" id="telefono" placeholder="XXX-XXX-XXXX">

            <input type="email" class="input_form" name="correo" id="emial" placeholder="juanperez@gmail.com">

            <input type="text" class="input_form" name="direccion" placeholder="Direccion">

            <input type="text" class="input_form" name="usuario" placeholder="Usuario">

            <input type="password" class="input_form" name="password" placeholder="Contraseña">

            <input type="submit" class="btn_form" value="Actualizar" placeholder="" (click)="SwAlert()">
        </div>
    </form>
</main>
