<div class="container">

    <h1 class=""> Productos</h1>
    <form>

        <h2 class="sub_titulos">Cream Helado</h2>
        <ul class="productos">
            <li *ngFor="let item of dataProducts">
                <h2>{{item.NombreProducto}}</h2>
                <img src={{item.imgUrl}} alt="">
                <div class="descripcion_general">
                    <p class="descripcion">
                        {{item.descripcion}}
                    </p>
                    <p class="precio">${{item.precioxUni}}</p>
                </div>
                <button type="button"class="btn btn btn-primary" id="addCarrito" (click)="addProducts(item.id)">Agregar al carrito</button>
            </li>
        </ul>

    </form>
</div>
