<div class="caja_principal">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title">Carrito</h5>
    <button type="button" class="btn-close" (click)="closeModal()"></button>
  </div>
  <div class="carro">
    <div class="offcanvas-body">
      <div class="carrito">
        <img src="assets/img-products/artesanal_pina.jpg" alt="producto">
        <div class="producto">
          <p>xxxxxxxxxx</p>
          <select>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>
          <p class="precio">Precios: $ xxxxxxxxx</p>
        </div>
      </div>
    </div>
    <div class="offcanvas-footer">
      <p>Subtotal:</p>
      <p>$2350</p>
      <p>Total:</p>
      <p>$2350</p>
    </div>
  </div>

  <button class="btn-offcanva">Ordenar</button>
</div>
