<div class="caja_principal">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title">Carrito</h5>
    <button type="button" class="btn-close" (click)="closeModal()"></button>
  </div>
  <div class="carro" *ngFor="let item of dataCar" >
    <div class="offcanvas-body">
      <div class="carrito">
        <img src={{item.imgUrl}} alt="producto">
        <div class="producto">
          <p>{{item.NombreProducto}}</p>
          <p-dropdown [options]="numbers" [(ngModel)]="selectedValue" optionLabel="name"></p-dropdown>
          <p class="precio">Precios: $ {{item.precioxUni}}</p>
        </div>
      </div>
    </div>
    
  </div>
  <div class="offcanvas-footer">
    <p>Total:</p>
    <p>${{precioTotal()}}</p>
  </div>

  <button class="btn-offcanva">Ordenar</button>
</div>
