<app-navbar [viewUser]="viewUser"></app-navbar>
<div class="container">
  <section class="section-login">

    <div class="caja_trasera">

      <div class="caja_t_login" [ngClass]="{'Lcaja_t_login': flagLogin, 'Rcaja_t_login': !flagLogin}">
        <img src="assets/img/cono-login.png" alt="logo-login">
        <h2>¿Ya tiene cuenta?</h2>
        <p>inicia sesion para ingresar</p>
        <button id="btn-iniciarS" (click)="lisentFormLogin(1)">Iniciar Sesion</button>
      </div>
      <div class="caja_t_registro" [ngClass]="{'Lcaja_t_registro': flagLogin, 'Rcaja_t_registro': !flagLogin}">
        <img src="assets/img/form.png" alt="logo-login">
        <h2>¿Aun no tienes una cuenta?</h2>
        <p>Registrate para iniciar sesion</p>
        <button id="btn-registrarse" (click)="lisentFormLogin(2)">Registrate</button>
      </div>

    </div>


    <div class="login_caja" [ngClass]="{'Llogin_caja': flagLogin, 'Rlogin_caja': !flagLogin}">

      <!--formulario del login-->
      <form class="formulario_login" [ngClass]="{'Lformulario_login': flagLogin, 'Rformulario_login': !flagLogin}">

        <h3>Iniciar Sesion</h3>
        <input [(ngModel)]="user.name" type="text" name="usuario" placeholder="Usuario" required>
        <input [(ngModel)]="user.password" type="password" name="password" placeholder="Contraseña" required>
        <input type="submit" class="btn_form" value="Ingresar" (click)="onLogin()">
      </form>

      <!--Formulario del registro-->
      <form class="formulario_registro" (ngSubmit)="onRegister()"
        [ngClass]="{'Lformulario_registro': flagLogin, 'Rformulario_registro': !flagLogin}">
        <h3>Registrate</h3>
        <div>

          <input type="text" name="nombres" class="input-padron" placeholder="Juan" required>

          <input type="text" name="apellidos" class="input-padron" placeholder="Perez" required>

          <input type="date" name="fechaNac" id="fecha-nac" class="input-padron" placeholder="" required>

          <input type="tel" name="telefono" id="telefono" class="input-padron" placeholder="XXX-XXX-XXXX" required>

          <input type="email" name="correo" id="emial" class="input-padron" placeholder="juanperez@gmail.com" required>

          <input type="text" class="input_form" name="direccion" placeholder="Direccion">

          <input type="text" name="usuario" class="input-padron" placeholder="Usuario" required>

          <input type="password" name="password" class="input-padron" placeholder="Contraseña" required>

          <input type="submit" class="btn_form" value="Registrarse" placeholder="" (click)="onRegister()">
        </div>
      </form>
    </div>
  </section>

</div>
