footer{
    width: 100%;
    height: 40vh;
    background-color: #add672;
    margin-top: 30px;
}

footer label{
    margin-top: 230px;
}

.wave_footer{
    width: 100%;
    height: 22%;
    background-image: url(../../../assets/img/wave_footer.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;

}


.footer-redes{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-left: -60px;
    margin-top: -30px;
}

.footer-redes img{
    width: 30px;
}