<div class="footer">

    <footer>
        <div class="wave_footer"></div>

        <label> &copy Derechos reservados - Pedro Toro - Luis Rosero - Daniella Toro - Julian Paz </label>
        <div class="footer-redes">

            <p>Siguenos en Nuestras redes Sociales:</p>
            <ul>
                <a href="https://instagram.com/hela.deriatwist?igshid=YmMyMTA2M2Y=">
                    <img src="assets/img/instagram.png" alt="instagram">
                </a>
            </ul>
            <ul>
                <a href="https://www.facebook.com/profile.php?id=100090393554757">
                    <img src="assets/img/facebook.png" alt="facebook">
                </a>
            </ul>
        </div>

    </footer>
</div>